<br/><br/>

<div *ngIf="error" class="container">
    <particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>
    <div class="row h-100 justify-content-center align-items-center">
        <h1>
            <i class="far fa-sad-tear fa-4x tinybit-heading-color"></i>
        </h1>
    </div>
    <div class="row h-100 justify-content-center align-items-center">
        <h1 class="tinybit-heading-color">
           Whoops! I couldn't find what you requested.
        </h1>
        <span>In case you just created your url, please wait for the transaction to get confirmed and hit refresh.</span>
    </div>
</div>
<div *ngIf="!error && detail.name != null && detail.name != ''" class="container">
    <particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>
    <div class="row">
        <div class="col-md-12">
            <i class="fas fa-key tinybit-heading-color"></i> &nbsp;<span class="text-muted">{{detail.key}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h1 class="tinybit-heading-color">{{detail.name}} </h1>
        </div>
        <div class="col-md-5">
            <i class="tinybit-heading-color fas fa-clock"></i> &nbsp; <small class="text-muted">{{detail.timestamp}}</small>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="text-purple lead">{{detail.description}}</p>
        </div>
    </div>

    <div *ngIf="detail" class="container table-responsive">
        <table class="table">
            <thead>
            <th scope="col" class="image-container-width"></th>
            <th scope="col" class="coin-container-width"><b>Coin</b></th>
            <th scope="col" class="alias-container-width">Alias</th>
            <th scope="col" class="address-container-width">Address</th>
            </thead>
            <tbody>
            <ng-container *ngFor="let item of detail.coinDetails;let j=index">
                <tr>
                    <td>
                        <img class="img-fluid img-rounded" src="{{item.imageUrl}}"/>
                    </td>
                    <td class="align-middle">
                        <strong>{{item.name}}</strong>
                        <small class="text-muted">({{item.symbol}})</small>
                    </td>
                    <td class="align-middle">
                        {{item.alias}}
                    </td>
                    <td class="align-middle form-inline">
                        <input type="text" class="form-control mb-2 address-input-width" readonly value="{{item.walletAddress}}" id="address_{{j}}"/>
                        <button title="Copy to clipboard" class="btn form-inline" (click)="copyToClipboard('address_' + j)">
                            <i class="fas fa-copy text-purple"></i>
                        </button>
                    </td>
                </tr>
            </ng-container>
            </tbody>
        </table>

    </div>
</div>
<div *ngIf="!error && (detail.name === null || detail.name === undefined || detail.name === '')" class="container">

    <particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>
    <div class="row h-100 justify-content-center align-items-center">
        <h1 class="tinybit-heading-color">
            Retrieving the details, please wait.
        </h1>
        <br/>
        <div>For unconfirmed transactions, please wait for the transaction to get confirmed and then hit refresh.</div>
    </div>

</div>
<div class="container h-50"></div>
