<br/><br/>

<div *ngIf="error" class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <h1>
            <i class="far fa-sad-tear fa-4x tinybit-heading-color"></i>
        </h1>
    </div>
    <div class="row h-100 justify-content-center align-items-center">
        <h1 class="tinybit-heading-color">
           Whoops! I couldn't find what you requested.
        </h1>
    </div>
</div>
<div *ngIf="!error" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="tinybit-heading-color">{{detail.name}}</h1>
        </div>
    </div>

    <div *ngIf="detail" class="container table-responsive">
        <table class="table table-sm table-responsive">
            <thead>
            <th scope="col" class="image-container-width"></th>
            <th scope="col" class="coin-container-width"><b>Coin</b></th>
            <th scope="col" class="alias-container-width">Alias</th>
            <th scope="col" class="address-container-width">Address</th>
            </thead>
            <tbody>
            <ng-container *ngFor="let item of detail.coinDetails;let j=index">
                <tr>
                    <td>
                        <img class="img-fluid img-rounded" src="{{item.imageUrl}}"/>
                    </td>
                    <td class="align-middle">
                        {{item.name}}
                        <small>({{item.symbol}})</small>
                    </td>
                    <td class="align-middle">
                        {{item.alias}}
                    </td>
                    <td class="align-middle form-inline">
                        <input type="text" class="form-control mb-2 address-input-width" readonly value="{{item.walletAddress}}" id="address_{{j}}"/>
                        <button title="Copy to clipboard" class="btn" (click)="copyToCLipboard('address_' + j)">
                            <i class="fas fa-copy text-purple"></i>
                        </button>
                    </td>
                </tr>
            </ng-container>
            </tbody>
        </table>

    </div>
</div>
<div class="container h-50"></div>
