<br/>
<div class="container h-100" id="welcomeMessage">
    <particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>

    <div class="row">

        <div class="text-center col-md-12 inline-headers">
            <h5 class="tinybit-heading-color">Tinybit is a dapp which creates a lookup between your Ethereum address with other crypto currency
            addresses you own.</h5>
        </div>
    </div>
    <div class="row">

        <div class="text-center col-md-12 inline-headers">
            <h5 class="tinybit-heading-color">Click the <a [routerLink]="'/create'" title="Preview">
                <small>Preview</small>
            </a> link to see how it looks</h5>
        </div>
    </div>



    <br/><br/>

    <div class="row">

        <div class="col-md-4">
            <div class="card bg-color-red">
                <div class="card-body text-center">
                    <h5 class="card-title"></h5>
                    <strong class="card-text">
                        Data storage through IPFS and Ethereum
                    </strong>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="card bg-color-yellow">
                <div class="card-body text-center">
                    <h5 class="card-title"></h5>
                    <strong class="card-text">
                        One url for as many as 30 addresses
                    </strong>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card bg-color-blue">
                <div class="card-body text-center">
                    <h5 class="card-title tinybit-heading-color"></h5>
                    <strong class="card-text">
                        Nominal fee of 1 finney to prevent spam
                    </strong>
                </div>
            </div>
        </div>
    </div>

    <br/>

</div>
