* {
    font-family: 'Josefin Sans', sans-serif;
}

html,body {
    height: 90%;
}

.inline-headers h1, .inline-headers h2, .inline-headers h3, .inline-headers h4 {
    display: inline-block;
    vertical-align: baseline;
}
.tinybit-heading-color {
    color: #fd5c63;
}
.tinybit-btn-bg {
    background: #fd5c63;
}
.text-dark {
    color: #35404f;
}

.text-gray {
    color: #878c94;
}

.text-light {
    color: #e5e5e5;
}

.text-white {
    color: #ffffff;
}

.text-success {
    color: #5ed35e;
}

.text-info {
    color: #64d5f6;
}

.text-warning {
    color: #fcbe66;
}

.text-danger {
    color: #e55e5a;
}
.text-purple {
    color: #B10DC9;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.image-container-width {
    width: 7%;
}
.coin-container-width {
    width: 10%;
}
.alias-container-width {
    width: 20%
}
.address-container-width {
    width: 50%;
}

.form-control::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: darkgray;
    opacity: 1; /* Firefox */
}

.bold {
    font-weight: bold
}
.address-input-width {
    width: 80% !important;
}
.large-font {
    font-size: larger
}

.bg-color-red {
    background-color: #fe8a71;
    color: black;
    opacity: 0.9;
}
.bg-color-yellow {
    background-color: #FFD464;
    color: black;
    opacity: 0.9;
}
.bg-color-blue {
    background-color: #1352A2;
    color: whitesmoke;
    opacity: 0.8;
}
.bg-color-dark {
    background-color: #3d1e6d;
    color: white;
    opacity: 0.8;
}
.bg-color-body {
    background-color: #f4f4f8
}
