
<div class="container" id="welcomeMessage">
    <div class="row">

        <div class="text-center col-md-12 inline-headers">
            <h1 class="tinybit-heading-color">Tinybit &nbsp;</h1>
            <h2><small class="text-gray">Tiny url for all your wallets</small></h2>
        </div>
    </div>

    <div class="row">

        <div class="text-center col-md-12">
            <h3><small class="text-gray">One tiny but powerful url <span id="rotating-content"></span></small></h3>
        </div>
    </div>
    <br/>
    <br/>

    <div class="text-center row">
        <div class="col-md-12">
            <button class="btn btn-danger tinybit-btn-bg" type="submit">Get started</button>
        </div>
    </div>

    <br/>
    <br/>

    <div class="row">
        <div class="col-md-4">

            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 tinybit-heading-color">Simple</h6>
                    A minute or less to generate your own url
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 tinybit-heading-color">Free</h6>
                    No sign up or email required
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 tinybit-heading-color">Donate</h6>
                    No obligations but definitely encouraged
                </div>
            </div>
        </div>
    </div>
    <br/>

    <div class="jumbotron jumbotron-fluid bg-white text-center">
        <div class="container">
            <h1 class="display-4">{{counter}}</h1>
            <p class="lead">Number of requests served</p>
        </div>
    </div>

</div>
