<br/>
<div class="container h-100" id="welcomeMessage">
    <div class="row">

        <div class="text-center col-md-12 inline-headers">
            <h1 class="tinybit-heading-color">Tinybit &nbsp;<i class="fab fa-ethereum"></i>&nbsp;</h1>
            <h2>
                <small class="text-gray">One url for all your wallets</small>
            </h2>
        </div>
    </div>
    <br/>
    <div class="text-center row">
        <div class="col-md-12">
            <button class="btn btn-lg btn-danger tinybit-btn-bg" type="submit" [routerLink]="['/create']">Get
                started
            </button>
        </div>
    </div>

    <br/><br/>

    <div class="row">

        <div class="col-md-3 d-flex align-items-stretch">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title tinybit-heading-color">Super simple <i class="fas fa-smile-beam"></i></h5>
                    <strong class="card-text text-muted">
                        Less than a minute to add your data to the blockchain
                    </strong>
                </div>
            </div>


        </div>

        <div class="col-md-3 d-flex align-items-stretch">

            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-subtitle mb-2 tinybit-heading-color">Anonymous <i class="fas fa-user-secret"></i></h5>
                    <strong class="card-text text-muted">
                        Your personal details are personal. No email or signup required.
                    </strong>
                </div>
            </div>

        </div>

        <div class="col-md-3 d-flex align-items-stretch">

            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-subtitle mb-2 tinybit-heading-color">Decentralized <i class="fab fa-codepen"></i></h5>
                    <strong class="card-text text-muted">
                        The data is stored on the Ethereum blockchain and is always available
                    </strong>
                </div>
            </div>
        </div>

        <div class="col-md-3 d-flex align-items-stretch">

            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-subtitle mb-2 tinybit-heading-color">Immutable <i class="fas fa-lock"></i></h5>
                    <strong class="card-text text-muted">
                        Once created, no one else can modify your data
                    </strong>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div *ngIf="!isWeb3Supported" class="row">
        <div class="col-md-12 text-danger text-center">
            <h3>Please use a dapp browser like <a href="https://github.com/ethereum/mist" target="_blank">Mist</a> or <a href="https://metamask.io/" target="_blank">MetaMask</a> plugin for chrome</h3>
        </div>
    </div>

</div>
