<br/>
<div class="container h-100" id="welcomeMessage">
    <particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>

    <div class="row">

        <div class="text-center col-md-12 inline-headers">
            <h1 class="tinybit-heading-color">Tinybit &nbsp;<i class="fab fa-ethereum"></i>&nbsp;</h1>
        </div>
    </div>
    <div class="text-purple text-center large-font">
        <p class="lead">Key value store for crypto addresses</p>
        <p class="lead"><b>key</b> = [<b class="tinybit-heading-color">your ethereum address</b>] -> <b>value</b> = [<b class="tinybit-heading-color">other crypto addresses</b>]</p>
    </div>
    <br/>
    <div class="text-center row">
        <div class="col-md-12">
            <button class="btn btn-lg btn-outline-danger" type="submit" [routerLink]="['/create']">Get
                started
            </button>
        </div>
    </div>

    <br/><br/><br/><br/>

    <div class="row">

        <div class="col-md-3">
            <div class="card bg-color-dark">
                <div class="card-body text-center">
                    <h5 class="card-subtitle mb-2">Simple</h5>
                    <strong class="card-text">
                        Store addresses in one step
                    </strong>
                </div>
            </div>


        </div>

        <div class="col-md-3">

            <div class="card bg-color-blue">
                <div class="card-body text-center">
                    <h5 class="card-subtitle mb-2">Anonymous</h5>
                    <strong class="card-text">
                        No email or signup required
                    </strong>
                </div>
            </div>

        </div>

        <div class="col-md-3">

            <div class="card bg-color-red">
                <div class="card-body text-center">
                    <h5 class="card-subtitle mb-2">Decentralized</h5>
                    <strong class="card-text">
                        Using Ethereum and IPFS
                    </strong>
                </div>
            </div>
        </div>

        <div class="col-md-3">

            <div class="card bg-color-yellow">
                <div class="card-body text-center">
                    <h5 class="card-subtitle mb-2">Immutable</h5>
                    <strong class="card-text">
                        Create once, lives forever
                    </strong>
                </div>
            </div>
        </div>
    </div>

    <br/>



    <div *ngIf="!isWeb3Supported" class="row">
        <div class="col-md-12 text-danger text-center">
            <h4>Please use a dapp browser like <a href="https://github.com/ethereum/mist" target="_blank">Mist</a>, <a href="https://brave.com/" target="_blank">Brave</a>  or <a href="https://metamask.io/" target="_blank">MetaMask</a> plugin for chrome</h4>
        </div>
    </div>

    <div *ngIf="isWeb3Supported" class="row">
        <div class="text-center col-md-12 inline-headers">
            <h5>Check out the <a class="text-purple" [routerLink]="'/0xD76500f49C1E24B6F07778c5Ab7c51059C9e0751'" title="Showcase">Showcase</a> and <a class="text-purple" [routerLink]="'/0x7125ead4c84651bd0657a2e61f6acfecd52d0f92'" title="Donate">Donate</a> links to learn how it works.</h5>
        </div>
    </div>

</div>
