<footer class="footer">
    <div class="container">
        <div class="text-center row">
            <div class="col-md-6 text-purple">
                tinybit.link@gmail.com
            </div>
            <div class="col-md-6 text-purple">
                Donate - <a href="https://www.tinybit.link/h4xw2x" target="_blank">https://www.tinybit.link/h4xw2x</a>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-md-12 text-muted">
                TinyBit is a tiny dapp, harnessing the power of the ethereum blockchain
            </div>
        </div>
    </div>
</footer>
