<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['']" href="#"><h4 class="tinybit-heading-color">&nbsp;Tinybit &nbsp;<i
            class="fab fa-ethereum"></i>&nbsp;</h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="col-md-9">
            <!--<a [routerLink]="'/about'" title="About">-->
                <!--<small>About</small>-->
            <!--</a>-->
        </div>
        <form class="form-inline my-2 my-lg-0">
            <input [(ngModel)]="search" class="form-control mr-sm-2" type="search" placeholder="ethereum address"
                   aria-label="Search" name="searchBox">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="navigate(search)">Search</button>
        </form>
    </div>
</nav>

<router-outlet></router-outlet>

<tinybit-footer></tinybit-footer>
