<section id="top"></section>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><h4 class="tinybit-heading-color">Tinybit &nbsp;</h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<a id="goToTop" href="#top" class="page-scroll" title="Scroll to top" style="position:fixed;bottom: 20px;right: 30px">
    <i class="fa fa-2x fa-arrow-up" aria-hidden="true"></i>
</a>


<div id="favAdded" class="alert alert-success fade alert-position">

</div>
<div id= "favRemoved" class="alert alert-danger fade alert-position">

</div>
<router-outlet></router-outlet>

<tinybit-footer></tinybit-footer>
